@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}

:root {
  --naviblue-color: #2e2f42;
  --white-color: #ffffff;
  --ocean-color: #404bbf;
  --iris-color: #4d5ae5;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --lightslate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
}

/* Header */

.header-navi {
  display: flex;
  justify-content: center;
}

.menu-container .header-logo {
  display: inline;
  /* justify-content: flex-start; */
  /* margin-right: 76px; */
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-contac {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);

  letter-spacing: 0.02em;

  color: var(--naviblue-color);
}

.tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);

  letter-spacing: 0.02em;

  color: var(--naviblue-color);
}

.mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--slate-color);
}

.header-social-icon {
  /* margin-bottom: 40px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 60px; */
  margin: 0;
}

.menu-container .header-list {
  margin-bottom: 284px;
}

.mobile-menu {
  margin-top: 80px;
}

.mobile-menu .header-item {
  margin-bottom: 40px;
}

.mobile-menu .header-item:last-child {
  margin-bottom: 0;
}

.mobile-menu .item {
  margin-bottom: 40px;
}

.mobile-menu .item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-container .out_list {
  margin-bottom: 48px;
}

.header-logo {
  /* overflow: hidden; */
}

/* Hero */

.hero {
}

/* Description */

.description {
  flex-direction: column;
}

.description_title:not(:last-child) {
  margin-bottom: 72px;
}

@media (max-width: 768px) {
  .boxes {
    display: none;
  }

  .description-list {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);

    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.02em;

    color: var(--naviblue-color);
  }

  .coment {
    font-weight: 500;
  }
}

/* Our team */

.section_team {
  padding-top: 96px;
  padding-bottom: 96px;
}

.conteine-team {
  display: flex;
  justify-content: center;

  background-color: var(--cloud-color);
}

.team_tekst {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.user_team {
}

.team_img {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  /* border: 1px solid var(--white-color) */
}

.team-icon {
  margin-top: 32px;
  /* margin-bottom: 32px; */
  border-bottom: 1px solid transparent;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px;
}

.team_work {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.team-icon .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.team_img:not(:last-child) {
  margin-bottom: 72px;
}

/* Regular customers */

.section-link {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--white-color);
}

.customers {
  margin-bottom: 72px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  color: var(--naviblue-color);
}

.cust_link {
  display: flex;
  justify-content: space-between;
  /* align-content: space-between; */
  flex-wrap: wrap;
}

.customers-item {
  /* display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap; */
  /* position: relative; */
  width: 190px;
  height: 88px;
  /* width: calc((100% - 16px) / 2); */
  margin-bottom: 72px;
  margin-right: 16px;
}

.customers-item:nth-child(2n) {
  margin-right: 0;
}

.cust_link .meta {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--lightslate-color);
  width: 190px;
  height: 88px;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cust_link .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--white-color);
  fill: var(--lightslate-color);
}

.cust_link .meta:hover,
.cust_link .meta:focus,
.cust_link .icon:hover,
.cust_link .icon:focus {
  fill: var(--iris-color);
  border-color: var(--iris-color);
}

.customers-item .meta:hover .icon {
  fill: var(--iris-color);
}

/* Footer */

.footer {
  background: var(--naviblue-color);
  padding-top: 96px;
  padding-bottom: 96px;
  /* height: 100vh; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.conteiner_footer {
  justify-content: center;
  width: 100%;
}

.footer_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.footer_web {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */

  margin-bottom: 72px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--cloud-color);
}

.footer-coment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 268px;
}

.footer_icons {
  justify-content: center;
  align-items: center;

  margin-bottom: 72px;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social_ftr {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--white-color);
  color: var(--white-color);
}

.social-icons .social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.105);
  color: var(--white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-items {
  width: 40px;
  height: 40px;
}

.social-items:not(:last-child) {
  margin-right: 16px;
}

.social-icons .icon {
  fill: currentColor;
}

.social-icons .icon:hover,
.social-icons .icon:focus,
.social-icons .social-link:hover,
.social-icons .social-link:focus {
  background-color: var(--green-color);
  color: var(--cloud-color);
}

/* Footer form */

.form-links {
  display: block;
  justify-content: center;
  align-items: center;
}

.footer_form {
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}

.footer_text {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;

  color: var(--white-color);
}

.footer_scribe {
  /* display: flex; */
  justify-content: center;
}

.footer_scribe input {
  padding-left: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--white-color);
  border-radius: 4px;
  background: var(--naviblue-color);
}

.footer_scribe input:focus {
  background-color: var(--white-color);
  border-color: var(--ocean-color);
}

.footer_scribe input:focus {
  outline-color: var(--ocean-color);
}

.footer-input {
  margin: 16px 0;
  color: white;
}

.footer-input:focus {
  color: var(--naviblue-color);
}

.footer_email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  /* display: flex; */
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  display: flex;
  justify-content: center;
}

.button_tlgm {
  width: 165px;
  height: 40px;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer_svg {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
