html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ol[class] {
  margin: 0;
  text-decoration: none;
}

.list,
li {
  list-style: none;
}

.list {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.section {
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--naviblue-color);
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

:root {
  --naviblue-color: #2e2f42;
  --white-color: #ffffff;
  --ocean-color: #404bbf;
  --iris-color: #4d5ae5;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --lightslate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
}

.conteiner {
  border: 1px solid red;
}

.section {
  border: 3px solid var(--green-color);
}

/* TelepfonE==428px */

@media (min-width: 429px) {
  body {
    background-color: tomato;
  }
}

/* Header */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo {
  overflow: hidden;
}

.header-web {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--ocean-color);
}

.header-webstudio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--naviblue-color);
}

/*    Hero     */

.hero {
  padding-top: 112px;
  padding-bottom: 122px;

align-items: center;

  background-image: url(../img/people-office.jpg);
}

.hero-title {

  display: flex;
align-items: center;
justify-content: center;
  margin-bottom: 72px;
  margin-left: 54px;
  width: 320px;
}

.hero_btm {
  width: 159px;
  height: 56px;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}
